worker.list=lb
worker.lb.type=lb
worker.lb.balance_workers= w11, w12, w21, w22

# Set properties for worker1 instance 1 (ajp13)
worker.w11.type=ajp13
worker.w11.host= {{ ip_address_worker1 }}
worker.w11.port= {{ ajp_port_instance1 }}

# Set properties for worker1 instance 2 (ajp13)
worker.w12.type=ajp13
worker.w12.host= {{ ip_address_worker1 }}
worker.w12.port= {{ ajp_port_instance2 }}

# Set properties for worker2 instance 1 (ajp13)
worker.w21.type=ajp13
worker.w21.host= {{ ip_address_worker2 }}
worker.w21.port= {{ ajp_port_instance1 }}

# Set properties for worker2 instance 2 (ajp13)
worker.w22.type=ajp13
worker.w22.host= {{ ip_address_worker2 }}
worker.w22.port= {{ ajp_port_instance2 }}

# configure jk-status
worker.list=jk-status
worker.jk-status.type=status
worker.jk-status.read_only=true
# configure jk-manager
worker.list=jk-manager
worker.jk-manager.type=status