worker.list=lb
worker.lb.type=lb
worker.lb.balance_workers= worker11, worker12, worker21, worker22

# Set properties for worker1 instance 1 (ajp13)
worker.worker11.type=ajp13
worker.worker11.host= {{ ip_address_worker1 }}
worker.worker11.port= {{ ajp_port_instance1 }}

# Set properties for worker1 instance 2 (ajp13)
worker.worker12.type=ajp13
worker.worker12.host= {{ ip_address_worker1 }}
worker.worker12.port= {{ ajp_port_instance2 }}

# Set properties for worker2 instance 1 (ajp13)
worker.worker21.type=ajp13
worker.worker21.host= {{ ip_address_worker2 }}
worker.worker21.port= {{ ajp_port_instance1 }}

# Set properties for worker2 instance 2 (ajp13)
worker.worker22.type=ajp13
worker.worker22.host= {{ ip_address_worker2 }}
worker.worker22.port= {{ ajp_port_instance2 }}

# configure jk-status
worker.list=jk-status
worker.jk-status.type=status
worker.jk-status.read_only=true
# configure jk-manager
worker.list=jk-manager
worker.jk-manager.type=status