[defaults]
# Comment this line if use Vagrantfile's provision
inventory = hosts

# Uncomment if use Vagrantfile's provision
#inventory = C:\cygwin64\home\syb93436\ansible-opendap-cluster\.vagrant\provisioners\ansible\inventory\vagrant_ansible_inventory

roles_path = roles
remote_user = vagrant

[ssh_connection]
ssh_args = -o ControlMaster=no