[defaults]
inventory = hosts
roles_path = roles
remote_user = vagrant
private_key_file = C:/Users/syb93436/.vagrant.d/insecure_private_key
host_key_checking = False

[ssh_connection]
ssh_args = -o ControlMaster=no