{{ ansible_managed | comment }}

global
    log 127.0.0.1 local0 notice
    maxconn 2000
    daemon # start as daemon process, same as -D arg


defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

listen haproxy3-monitoring        
    bind {{ hostvars[inventory_hostname]['ip_address'] }}:{{ item.value.haproxy_monitor_port | default(haproxy_monitor_port_default) }}
    mode http
    option forwardfor
    option httpclose
    stats enable
    stats show-legends
    stats refresh 5s
    stats uri /stats                             #URL for HAProxy monitoring
    stats realm Haproxy\ Statistics
    stats auth {{ item.value.username | default(username_default)}}:{{ item.value.password | default(password_default) }}                    #User and Password for login to the monitoring dashboard
    stats admin if TRUE
    default_backend app-main

frontend main
    bind {{ hostvars[inventory_hostname]['ip_address'] }}:{{ item.value.haproxy_port | default(haproxy_port_default)}}
    option http-server-close
    option forwardfor
    default_backend app-main

backend app-main
    balance {{ item.value.balance_directive | default(balance_directive_default)}}            #Balance algorithm
    option httpchk HEAD / HTTP/1.1\r\nHost:\ localhost    #Check the server application is up and healty - 200 status code

    {% for server in item.value.servers %}
    server {{ server.name }} {{ server.ip }}:{{ server.port}} check
    {% endfor %}

  