export CATALINA_HOME={{ tomcat_home }}
export CATALINA_BASE={{ tomcat_base }}/{{ item.name }}
export JRE_HOME={{ jdk_root }}

#export LD_LIBRARY_PATH=/usr/local/apr/lib

export NORMAL="-d64 -Xmx{{ tomcat_Xmx }} -Xms{{ tomcat_Xms }} -server -ea -XX:+HeapDumpOnOutOfMemoryError -Djava.awt.headless=true"
export CONTENT_ROOT="-Dtds.content.root.path=$CATALINA_BASE/content"
export JAVA_PREFS_ROOTS="-Djava.util.prefs.systemRoot=$CATALINA_BASE/content/thredds/javaUtilPrefs -Djava.util.prefs.userRoot=$CATALINA_BASE/content/thredds/javaUtilPrefs"

export CATALINA_OPTS="$NORMAL $CONTENT_ROOT $JAVA_PREFS_ROOTS"
export CATALINA_PID=$CATALINA_BASE/logs/catalina.pid
