[program:{{ tomcat_name }}]
directory={{ tomcat_base }}/{{ tomcat_name }}
command={{ tomcat_base }}/{{ tomcat_name }}/bin/startup.sh
stdout_logfile={{ supervisor_var }}/{{ tomcat_name }}.log
stderr_logfile={{ supervisor_var }}/{{ tomcat_name }}_err.log
killasgroup=true
stopasgroup=true
