[program:httpd]
directory={{ httpd_home }}
command={{ httpd_home }}/bin/httpd -C "ErrorLog /dev/stdout" -DFOREGROUND
stdout_logfile={{ httpd_home }}/logs/httpd.log
stderr_logfile={{ httpd_home }}/logs/httpd_err.log
stdout_events_enabled=true
stderr_events_enabled=true
autorestart=true
stopasgroup=true
killasgroup=true
