<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Server Information</title>
    </head>
    <body>
        <h1>Server Information</h1>

        <ul>
            <li>Server:
                <img src='/thredds/threddsIcon.gif'
                     alt='Initial TDS Installation'/>
                Initial TDS Installation
            </li>
            <li>Webapp Name: THREDDS Data Server</li>
            <li>Webapp Version: 4.6.8</li>
            <li>Webapp Version Build Date: 2017-01-06T16:32:27-0700</li>
            <li>Abstract: Scientific Data</li>
            <li>Keyphrases: meteorology, atmosphere, climate, ocean, earth science</li>
            <li>Contact:
                <ul>
                    
                    <li>Name: Support</li>
                    <li>Organization: My Group</li>
                    <li>Email: support@my.group</li>
                    
                </ul>
            </li>
            <li>Host Institution:
                <a href='http://www.my.site/'>
                    <img src='myGroup.gif'
                         alt='My Group'/>
                    My Group
                </a>
            </li>
        </ul>

    </body>
</html>