LoadModule jk_module modules/mod_jk.so

JkWorkersFile {{ httpd_confd }}/mod_jk.workers
JkMountFile   {{ httpd_confd }}/mod_jk.urimaps
JkShmFile     {{ httpd_logs }}/mod_jk.shm
JkLogFile     {{ httpd_logs }}/mod_jk.log
JkLogLevel    info
JkLogStampFormat "[%a %b %d %H:%M:%S %Y] "

<Location "/status-jk">
	Allow from all
	AuthType Basic
	AuthName "Restricted Content"
	AuthUserFile {{ httpd_server_root | default('') }}/.htpasswd
	Require valid-user
</Location>
