/status-jk=jk-manager
/status-jk/*=jk-manager

/thredds/restrictedAccess/*=authenticator

{% for collection in collections %}
/thredds/*/{{ collection.path }}=COLLECTION_{{ collection.path | replace("/", "-") }}
/thredds/*/{{ collection.path }}/*=COLLECTION_{{ collection.path | replace("/", "-") }}
{% endfor %}
