/status-jk=jk-manager
/status-jk/*=jk-manager

/udg-tap=tap
/udg-tap/*=tap

/thredds/restrictedAccess/*=authenticator

{% for agws in deployment.gws %}
/thredds/*/{{ agws.name }}=GWS_{{ agws.name }}
/thredds/*/{{ agws.name }}/*=GWS_{{ agws.name }}
{% endfor %}
