[defaults]
nocows=1
roles_path = ../../roles
inventory = inventory

[ssh_connection]
ssh_args = -o ControlMaster=yes -o ControlPath=~/.ssh/master-%r@%h:%p -o ControlPersist=yes -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
