events {
  worker_connections 1024;
}

http {

  # This server accepts all traffic to port {{ bind_port }} and passes it to the upstream. 

  server {
    root {{ nginx_static }};
    proxy_set_header Connection "";
    proxy_set_header HOST $http_host;
    listen {{ bind_port }}; 
  }
}
