events {
  worker_connections 1024;
}

http {
  upstream {{ default_upstream }} {
  }

  server {
    proxy_set_header Connection "";
    proxy_set_header HOST $http_host;
    listen {{ bind_address }}:{{ bind_port }}; 

    location / {
      proxy_pass http://{{ default_upstream }};
    }
  }
}
