[defaults]
inventory = .vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
private_key_file = /home/pablo/.vagrant.d/insecure_private_key
host_key_checking = False
roles_path = ../../../roles
retry_files_enabled=False
#Don't gather facts unless 'gather_facts: True' set in PLAY
gathering =  explicit
