<?xml version="1.0" encoding="UTF-8"?>
<Context path="/thredds">
  <Manager className="de.javakaffee.web.msm.MemcachedBackupSessionManager"
    memcachedNodes="{% for host in groups['workers'] %}{{ hostvars[host].ansible_hostname }}:{{ hostvars[host].memcached_host}}:{{ hostvars[host].memcached_port }}{% if not loop.last %},{% endif %}{% endfor %}"
    {% if hostvars[load_balancer].haproxy_sticky is defined and hostvars[load_balancer].haproxy_sticky == True %}
    sticky="true"
    failoverNodes="{{ ansible_hostname }}"
    {% else %}
    sticky="false"
    lockingMode="auto"
    {% endif %}
    requestUriIgnorePattern=".*\.(ico|png|gif|jpg|css)$"
  />
</Context>
