<?xml version='1.0' encoding='utf-8'?>
<Server port="{{ item.base_port }}5" shutdown="{{ item.name }}">
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="Catalina">
    <Connector port="{{ item.base_port }}8" protocol="HTTP/1.1" connectionTimeout="20000" />
    <Connector port="{{ item.ajp.port }}"  protocol="AJP/1.3"
               proxyName="{{ item.ajp.proxyName | default( proxyName_default ) }}"
               proxyPort="{{ item.ajp.proxyPort | default( proxyPort_default )}}"
    />
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase">
          <CredentialHandler className="org.apache.catalina.realm.SecretKeyCredentialHandler"
                             algorithm="PBKDF2WithHmacSHA256"
                             keyLength="256"
          />
        </Realm>
      </Realm>
      <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b" />
      </Host>
    </Engine>
  </Service>
</Server>