<?xml version='1.0' encoding='utf-8'?>
<Server port={% if item.shutdown is defined %}"{{item.shutdown.port}}" {% else %}"{{tomcat_default_port_shutdown}}" {% endif %} shutdown="{{ item.name }}">
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="Catalina">
    <Connector port={% if item.http is defined %}"{{ item.http.port }}" {% else %}"{{ tomcat_default_port_connector }}"{% endif %} protocol="HTTP/1.1" connectionTimeout="20000" />
    <Connector port={% if item.ajp is defined  and item.ajp.port is defined %}"{{ item.ajp.port}}" {% else %}"{{tomcat_default_port_ajp}}"{% endif %} protocol="AJP/1.3"
               proxyName={% if item.ajp is defined and item.ajp.proxyName is defined %}"{{ item.ajp.proxyName }}" {% else %}"{{ proxyName_general }}" {% endif %}
               proxyPort={% if item.ajp is defined and item.ajp.proxyPort is defined %}"{{ item.ajp.proxyPort }}" {% else %}"{{ proxyPort_general }}" {% endif %}
    />
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
              digest="SHA" resourceName="UserDatabase">
        </Realm>
      </Realm>
      <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true">
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b" />
      </Host>
    </Engine>
  </Service>
</Server>