#!/usr/bin/env bash
#set -x 

if [ -z $1 ]
then
  echo "ERROR!!!: MISSING ACTION ARG"
  exit 1
fi


# if [ -z $2 ]
# then
#  echo "ERROR!!!: MISSING BASEPORT ARG"
#  exit 1
#fi

BASEPORT=$2

OPTPATH={{ opt_service }}

export JRE_HOME={{ jre_path }}

WORKER="{{ inventory_hostname }}_${BASEPORT}"

TOMCAT_HOME="{{ instances_path }}/${WORKER}"
TEMPLT_HOME="{{ tomcat_catalina_home }}"

CATALINA_OUT=$TOMCAT_HOME/logs/catalina.out

# set java prefs related variables (used by the wms service, for example)
#JAVA_PREFS_ROOTS="-Djava.util.prefs.systemRoot=$CATALINA_HOME/content/thredds/javaUtilPrefs \
 #                 -Djava.util.prefs.userRoot=$CATALINA_HOME/content/thredds/javaUtilPrefs"

#
# Some commonly used JAVA_OPTS settings:
#
NORMAL="-d64 -Xmx4096m -Xms512m -server -ea"
HEAP_DUMP="-XX:+HeapDumpOnOutOfMemoryError"
HEADLESS="-Djava.awt.headless=true"

#
# Standard setup.
#
JAVA_OPTS="$CONTENT_ROOT $NORMAL $MAX_PERM_GEN $HEAP_DUMP $HEADLESS $JAVA_PREFS_ROOTS"

JAVA_OPTS="-Dceda.tomcat.ajp.proxyName=localhost -Dceda.tomcat.ajp.proxyPort=8000 $JAVA_OPTS"
JAVA_OPTS="-Dceda.tomcat.ajp.port=${BASEPORT}9 $JAVA_OPTS"
JAVA_OPTS="-Dceda.tomcat.http.port=${BASEPORT}8 $JAVA_OPTS"
JAVA_OPTS="-Dceda.tomcat.shutdown.port=${BASEPORT}5 -Dceda.tomcat.shutdown.keyword=SHTDWN_${WORKER} $JAVA_OPTS"
JAVA_OPTS="-Dtds.content.root.path=$TOMCAT_HOME/content $JAVA_OPTS"

export JAVA_OPTS
export USE_NOHUP=true



case "$1" in
  start)
        if [ ! -d "$TOMCAT_HOME" ]; then
          mkdir -p $TOMCAT_HOME
          mkdir -p $TOMCAT_HOME/temp
          mkdir -p $TOMCAT_HOME/work
          mkdir -p $TOMCAT_HOME/logs
          ln -s $TEMPLT_HOME/bin $TOMCAT_HOME/bin
          ln -s $TEMPLT_HOME/conf $TOMCAT_HOME/conf
          ln -s $TEMPLT_HOME/lib $TOMCAT_HOME/lib
          ln -s $TEMPLT_HOME/webapps $TOMCAT_HOME/webapps
          mkdir -p $TOMCAT_HOME/content/thredds
          mkdir -p $TOMCAT_HOME/content/thredds/cache
          mkdir -p $TOMCAT_HOME/content/thredds/logs
          ln -s $TEMPLT_HOME/content/thredds/public $TOMCAT_HOME/content/thredds/public
          ln -s $TEMPLT_HOME/content/thredds/catalog.xml $TOMCAT_HOME/content/thredds/catalog.xml
          ln -s $TEMPLT_HOME/content/thredds/enhancedCatalog.xml $TOMCAT_HOME/content/thredds/enhancedCatalog.xml
          ln -s $TEMPLT_HOME/content/thredds/threddsConfig.xml $TOMCAT_HOME/content/thredds/threddsConfig.xml
          ln -s $TEMPLT_HOME/content/thredds/wmsConfig.xml $TOMCAT_HOME/content/thredds/wmsConfig.xml
          ln -s $TEMPLT_HOME/content/thredds/wmsConfig.dtd $TOMCAT_HOME/content/thredds/wmsConfig.dtd
        fi
        $TOMCAT_HOME/bin/catalina.sh start > "$CATALINA_OUT" 2>&1
        ;;
  run)

		    $TOMCAT_HOME/bin/catalina.sh run > "$CATALINA_OUT" 2>&1
        ;;
  stop)
        
        $TOMCAT_HOME/bin/catalina.sh stop > "$CATALINA_OUT" 2>&1
        ;;
  restart)

        $TOMCAT_HOME/bin/catalina.sh stop > "$CATALINA_OUT" 2>&1
        $TOMCAT_HOME/bin/catalina.sh start > "$CATALINA_OUT" 2>&1
        ;;

  configtest)

       $TOMCAT_HOME/bin/catalina.sh configtest > "$CATALINA_OUT" 2>&1 
       ;;
  *)
        echo $"Usage: $TOMCAT_HOME/bin/catalina.sh {run|start|stop|configtest}"
        exit 1
esac
