<?xml version='1.0' encoding='utf-8'?>
<Server port="{{ item.shutdown }}" shutdown="{{ item.name }}">
    <GlobalNamingResources>
    </GlobalNamingResources>

    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

    <Service name="Catalina">

	{% for connector in item.connectors -%}
	<Connector
	{% for key, value in connector.items() -%}
	{% if not (key in ['proxy', 'host']) -%}
		{{ key }}="{{ value }}"
	{% endif %}
	{% endfor %}/>
	{% endfor %}

	<Engine name="Catalina" defaultHost="localhost">
	    <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true">
		<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
		    prefix="localhost_access_log" suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b" />
		<Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster"/>
	    </Host>
	</Engine>
    </Service>
</Server>
