CATALINA_HOME={{ tomcat_home }}
CATALINA_BASE={{ tomcat_base }}/{{ item.name }}
JRE_HOME={{ jdk_install_base }}

#export LD_LIBRARY_PATH=/usr/local/apr/lib

NORMAL="-d64 -Xmx4096m -Xms512m -server -ea"
HEAP_DUMP="-XX:+HeapDumpOnOutOfMemoryError"
HEADLESS="-Djava.awt.headless=true"
CONTENT_ROOT="-Dtds.content.root.path={{ item.tds_content_root | default('$CATALINA_BASE/content') }}"
JAVA_PREFS_ROOTS="-Djava.util.prefs.systemRoot=$CATALINA_BASE/content/thredds/javaUtilPrefs -Djava.util.prefs.userRoot=$CATALINA_BASE/content/thredds/javaUtilPrefs"

CATALINA_OPTS="$NORMAL $HEAP_DUMP $HEADLESS $CONTENT_ROOT $JAVA_PREFS_ROOTS"
CATALINA_PID=$CATALINA_BASE/logs/catalina.pid

