#!/bin/bash
# Source: https://confluence.atlassian.com/plugins/viewsource/viewpagesrc.action?pageId=252348917

function shutdown()
{
    date
    echo "Shutting down Tomcat"
    #unset CATALINA_PID # Necessary in some cases
    #unset LD_LIBRARY_PATH # Necessary in some cases
    #unset JAVA_OPTS # Necessary in some cases

    . $CATALINA_HOME/bin/catalina.sh stop
}

echo "Starting Tomcat"
WORKER={{ item.name }}
export CATALINA_HOME={{ tomcat_home }}
export CATALINA_BASE={{ tomcat_base }}/${WORKER}
export JRE_HOME={{ jre_install_base }}
export CONTENT_ROOT="-Dtds.content.root.path={{ item.tds_content_root | default('$CATALINA_BASE/content') }}"
export JAVA_PREFS_ROOTS="-Djava.util.prefs.systemRoot=$CATALINA_BASE/content/thredds/javaUtilPrefs -Djava.util.prefs.userRoot=$CATALINA_BASE/content/thredds/javaUtilPrefs"
#export LD_LIBRARY_PATH=/usr/local/apr/lib

# Some commonly used JAVA_OPTS settings:

# This if-else is needed because default() filter only works at one level
# and we want java_opts and its subelements to be optional
{% if item.java_opts is defined %}
NORMAL="{{ item.java_opts.normal | default('-d64 -Xmx4096m -Xms512m -server -ea') }}"
HEAP_DUMP="{{ item.java_opts.head_dump | default('-XX:+HeapDumpOnOutOfMemoryError') }}"
HEADLESS="{{ item.java_opts.headless | default('-Djava.awt.headless=true') }}"
{% else %}
NORMAL="-d64 -Xmx4096m -Xms512m -server -ea"
HEAP_DUMP="-XX:+HeapDumpOnOutOfMemoryError"
HEADLESS="-Djava.awt.headless=true"
{% endif %}

#
# Standard setup.
#
JAVA_OPTS="$CONTENT_ROOT $NORMAL $HEAP_DUMP $HEADLESS $JAVA_PREFS_ROOTS"

export JAVA_OPTS

export CATALINA_PID=$CATALINA_BASE/logs/catalina.pid

{% if tds_debug %}
export JPDA_ADDRESS="192.168.50.11:8000"
. $CATALINA_HOME/bin/catalina.sh jpda start
{% else %}
. $CATALINA_HOME/bin/catalina.sh start
{% endif %}


# Allow any signal which would kill a process to stop Tomcat
trap shutdown HUP INT QUIT ABRT KILL ALRM TERM TSTP

echo "Waiting for `cat $CATALINA_PID`"
wait `cat $CATALINA_PID`
