[program:tds_{{ item.base_port }}]
directory={{ opt_service }}
command={{ opt_service }}/supervisord_wrapper.sh {{ item.base_port }}
stdout_logfile={{ supervisor_var }}/tds_{{ item.base_port }}.log
stderr_logfile={{ supervisor_var }}/tds_{{ item.base_port }}_err.log
killasgroup=true
stopasgroup=true