[program:tds_{{ item.name }}]
directory={{ tds_opt }}
command={{ tds_opt }}/supervisord_wrapper.sh {{ item.base_port }}
stdout_logfile={{ supervisor_var }}/tds_{{ item.name }}.log
stderr_logfile={{ supervisor_var }}/tds_{{ item.name }}_err.log
killasgroup=true
stopasgroup=true