[program:tomcat_{{ item.name }}]
directory={{ tomcat_instances_path | default(tomcat_instances_path_default) }}/tomcat_{{ item.name}}
command={{ tomcat_instances_path | default(tomcat_instances_path_default) }}/tomcat_{{ item.name }}/supervisord_wrapper.sh
stdout_logfile={{ supervisor_var }}/tomcat_{{ item.name }}.log
stderr_logfile={{ supervisor_var }}/tomcat_{{ item.name }}_err.log
killasgroup=true
stopasgroup=true