[program:{{ item.name }}]
directory={{ tomcat_instances_path }}/{{ item.name}}
command={{ tomcat_instances_path }}/{{ item.name }}/supervisord_wrapper.sh
stdout_logfile={{ supervisord_var }}/{{ item.name }}.log
stderr_logfile={{ supervisord_var }}/{{ item.name }}_err.log
killasgroup=true
stopasgroup=true
