[program:{{ item.name }}]
directory={{ tomcat_base }}/{{ item.name}}
command={{ tomcat_base }}/{{ item.name }}/bin/startup.sh
stdout_logfile={{ supervisor_var }}/{{ item.name }}.log
stderr_logfile={{ supervisor_var }}/{{ item.name }}_err.log
killasgroup=true
stopasgroup=true
