
<!DOCTYPE html PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN''http://www.w3.org/TR/html4/loose.dtd'>
<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'><title>TdsStaticCatalog http://{{ hostvars[inventory_hostname]['ansible_host'] }}:{{ httpd_port }}/thredds/catalog.html</title>
		<link rel='stylesheet' href='/thredds/tdsCat.css' type='text/css' >
	</head>
	<body>
		<h1><img src='/thredds/threddsIcon.gif' alt='Initial TDS Installation' align='left' valign='top'>Catalog http://{{ hostvars[inventory_hostname]['ansible_host'] }}:{{ httpd_port }}/thredds/catalog.html</h1><HR size='1' noshade='noshade'>
		<table width='100%' cellspacing='0' cellpadding='5' align='center'>
			<tr>
				<th align='left'><font size='+1'>Dataset</font></th>
				<th align='center'><font size='+1'>Size</font></th>
				<th align='right'><font size='+1'>Last Modified</font></th>
			</tr>
			{% for collection in collections -%}
			{% if collection.top | default(true) -%}
			<tr {{ 'bgcolor="#eee"' if loop.index0 % 2 == 1 else '' }}>
				<td align='left'>&nbsp;&nbsp;&nbsp;&nbsp;
				<img src='/thredds/folder.gif' alt='Folder'> &nbsp;<a href='catalog/{{ collection.path }}/catalog.html'><tt>{{ collection.path }}</tt></a></td>
				<td align='right'><tt>&nbsp;</tt></td>
				<td align='right'><tt>--</tt></td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
		<HR size='1' noshade='noshade'><h3><a href='/thredds/catalog.html'>Initial TDS Installation</a> at <a href='http://www.my.site/'>My Group</a> see <a href='/thredds/serverInfo.html'> Info </a><br>
		THREDDS Data Server [Version 4.6.8 - 2017-01-06T16:32:27-0700] <a href='http://www.unidata.ucar.edu/software/thredds/current/tds/reference/index.html'> Documentation</a></h3>
	</body>
</html>
