[eventlistener:{{ event_name }}]
command=python {{ supervisor_programs }}/detect_changes.py {{ supervisor_var }}/{{ md5_filename }}.txt {{ control_directory }}
events=TICK_3600
stdout_logfile=/home/gws-manager/ansible/supervisor/var/{{ md5_filename }}.log
stderr_logfile=/home/gws-manager/ansible/supervisor/var/{{ md5_filename }}_err.log
autorestart=true