[program:httpd]
directory={{ httpd_opt }}
command={{ httpd_opt }}/bin/httpd -C "ErrorLog /dev/stdout" -DFOREGROUND
stdout_logfile={{ httpd_opt }}/logs/httpd.log
stderr_logfile={{ httpd_opt }}/logs/httpd_err.log