[program:httpd]
directory={{ opt_service }}
command={{ opt_service }}/bin/httpd -C "ErrorLog /dev/stdout" -DFOREGROUND
stdout_logfile={{ opt_service }}/logs/httpd.log
stderr_logfile={{ opt_service }}/logs/httpd_err.log