[program:httpd]
directory={{ httpd_home | default(httpd_home_default) }}
command={{ httpd_home | default(httpd_home_default) }}/bin/httpd -C "ErrorLog /dev/stdout" -DFOREGROUND
stdout_logfile={{ httpd_home | default(httpd_home_default) }}/logs/httpd.log
stderr_logfile={{ httpd_home | default(httpd_home_default) }}/logs/httpd_err.log
stdout_events_enabled=true
stderr_events_enabled=true
autorestart=true
stopasgroup=true
killasgroup=true