LoadModule jk_module modules/mod_jk.so

JkWorkersFile {{ httpd_opt }}/conf.d/mod_jk.workers
JkMountFile   {{ httpd_opt }}/conf.d/mod_jk.urimaps
JkShmFile     {{ httpd_opt }}/logs/mod_jk.shm
JkLogFile     {{ httpd_opt }}/logs/mod_jk.log
JkLogLevel    info
JkLogStampFormat "[%a %b %d %H:%M:%S %Y] "
