#!/bin/bash
#
# Startup script for the Apache Web Server
#
# chkconfig: - 85 15
# description: Apache is a World Wide Web server.  It is used to serve \
#              HTML files and CGI.
# processname: httpd
# pidfile: /usr/local/apache2/logs/httpd.pid
# config: /usr/local/apache2/conf/httpd.conf


# This will prevent initlog from swallowing up a pass-phrase prompt if
# mod_ssl needs a pass-phrase from the user.
INITLOG_ARGS=""

# Path to the apachectl script, server binary, and short-form for messages.
apachectl={{ opt_service }}/bin/apachectl
httpd={{ opt_service }}/bin/httpd
pid=$httpd/logs/httpd.pid
prog={{ service_name }}
CONFIGTEST_LOG={{ configtest }}

case "$1" in
  start)
        echo -n "Starting httpd ..."
        $apachectl -k start
        ret=$?
        case "$ret" in
        0)
            echo "OK"
            ;;
        1)
            echo -n "FAILED ("
            echo -n "pid file '$PIDFILE' found, httpd not started."
            echo ")"
            ;;
        2)
            echo "FAILED"
            ;;
        esac
        exit $ret
        ;;
  stop)
        echo -n "Stopping httpd ..."
        $apachectl -k stop
        ret=$?
        case "$ret" in
        0|1)
            echo "OK"
            ;;
        2)
            echo "FAILED"
            ;;
        esac
        exit $ret
        ;;

  status)
        status $httpd
        RETVAL=$?
        ;;
  restart)
        echo -n "Checking httpd configuration ..."
        $apachectl -k restart
        ret=$?
        case "$ret" in
        0)
            echo "OK"
            ;;
        1)
            echo "FAILED"
            echo "Restart process aborted."
            echo "Check $CONFIGTEST_LOG for details."
            # Abort restart
            exit $ret
            ;;
        esac
        echo -n "Restarting httpd ..."
        haproxy_stop
        haproxy_start
        case "$?" in
        0)
            echo "OK"
            ;;
        1)
            echo "FAILED"
            ;;
        2)
            echo "FAILED"
            ;;
        esac
        ;;
  graceful|help|configtest|fullstatus)
        $apachectl $@
        RETVAL=$?
        ;;
  *)
        echo $"Usage: $prog {start|stop|restart|condrestart|reload|status"
    echo $"|fullstatus|graceful|help|configtest}"
        exit 1
esac

exit $RETVAL