<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
  <title>TDS Catalog</title>

  <!-- Common metadata and styles. -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  
  <link rel="stylesheet" href="/thredds/tds.css" type="text/css"><link rel="stylesheet" href="/thredds/tds.css" type="text/css"><link rel="stylesheet" href="/thredds/tdsCat.css" type="text/css">

  
  <script type="text/javascript">
  document.getElementById("header-buffer").style.height = document.getElementById("header").clientHeight + "px";
  document.getElementById("footer-buffer").style.height = document.getElementById("footer").clientHeight + "px";
</script>

</head>

<body>

    <div class="container">

        <div>
      <div id="header-buffer"></div>
      <div id="header"><div>
      <div class="header-logo"><img src="/thredds/threddsIcon.gif" alt="Initial TDS Installation"></div>
      <div class="header-info"><h2><strong><a class="static" href="catalog.html">Initial TDS Installation</a></strong></h2></div>
    </div></div>
    </div>

        <div class="content">
            <div class="banner">
        <h2>Welcome to
            THREDDS Data Server
             top-level TDS Catalog.
        </h2>
        <h3>Hosted by
            <a class="static" href="http://www.my.site/">My Group</a>.
        </h3>
    </div>
        </div>

        

        <div class="content">
            <div class="section-header">Catalog</div>
            <div class="section-content">
            <table width="100%" cellspacing="0" cellpadding="5" align="center">
                <tbody>

                    <tr>
                        <th align="left"><font size="+1">Dataset</font></th>
                        <th align="center"><font size="+1">Size</font></th>
                        <th align="right"><font size="+1">Last Modified</font></th>
                    </tr>

			{% for collection in collections -%}
			{% if collection.top | default(true) -%}
			<tr {{ 'bgcolor="#eee"' if loop.index0 % 2 == 1 else '' }}>
				<td align='left'>&nbsp;&nbsp;&nbsp;&nbsp;
				<img src='/thredds/folder.png' alt='Folder'> &nbsp;<a href='{{ collection.path }}/catalog.html'><tt>{{ collection.path }}</tt></a></td>
				<td align='right'><tt>&nbsp;</tt></td>
				<td align='right'><tt>--</tt></td>
			</tr>
			{% endif %}
			{% endfor %}

                </tbody>
            </table>
            </div>

        </div>

        

        <div>
      <div id="footer-buffer"></div>
      <div id="footer"><div>
      <h4><a class="static" href="catalog.html">Initial TDS Installation</a> at <a class="static" href="http://www.my.site/">My Group</a> see <a class="static" href="/thredds/info/serverInfo.html"> Info </a></h4>
      <h4><a class="static" href="http://www.unidata.ucar.edu/software/thredds/current/tds/TDS.html">THREDDS Data Server</a>
         [Version 5.0.0-beta6 - 2018-11-15T21:06:30+0000]
        <a class="static" href="http://www.unidata.ucar.edu/software/thredds/current/tds/reference/index.html"> Documentation</a></h4>
    </div></div>
    </div>

    </div>

</body>

<script type="text/javascript">
  document.getElementById("header-buffer").style.height = document.getElementById("header").clientHeight + "px";
  document.getElementById("footer-buffer").style.height = document.getElementById("footer").clientHeight + "px";
</script>

</html>
