LoadModule proxy_module modules/mod_proxy.so
LoadModule proxy_http_module modules/mod_proxy_http.so
LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
LoadModule proxy_ftp_module modules/mod_proxy_ftp.so
LoadModule proxy_balancer_module modules/mod_proxy_balancer.so

{% if  httpd_major_version == '2.4' %}
LoadModule slotmem_shm_module modules/mod_slotmem_shm.so
LoadModule lbmethod_byrequests_module modules/mod_lbmethod_byrequests.so
{% endif %}

<Location /status-proxy>
    SetHandler balancer-manager
   	Allow from all
	AuthType Basic
	AuthName "Restricted Content"
	AuthUserFile {{ httpd_root }}/conf.d/.htpasswd
	Require valid-user
</Location>

ProxyPass /status-proxy !