<html>
        <head>
                <title>Apache 2.4</title>
        </head>
        <body>
        		<h1>{{ansible_distribution}}-{{ansible_distribution_major_version}}</h1>
                <h2>Welcome to {{ansible_all_ipv4_addresses[1]}}:{{httpd_port}}</h2>
        </body>
</html>
