<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
             <Manager pathname="" />
    -->

    <!-- Uncomment this to enable Comet connection tacking (provides events
                  on session expiration as well as webapp lifecycle) -->
    <!--
             <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
    -->
        <ResourceLink global="jdbc/adminDB" name="jdbc/adminDB" type="javax.sql.DataSource"/>
</Context>

