LoadModule jk_module modules/mod_jk.so

JkWorkersFile {{ httpd_path }}/conf/workers.properties
JkShmFile     {{ httpd_path }}/logs/mod_jk.shm
JkLogFile     {{ httpd_path }}/logs/mod_jk.log
JkLogLevel    info
JkLogStampFormat "[%a %b %d %H:%M:%S %Y] "
JkMount /thredds/* lb
JkMount /thredds lb
JkMount /status/* jk-manager
JkMount /status jk-manager
