ServerRoot "/etc/httpd"

# Minimum modules needed
LoadModule log_config_module modules/mod_log_config.so
LoadModule dir_module modules/mod_dir.so
LoadModule mime_module modules/mod_mime.so
LoadModule authz_host_module modules/mod_authz_host.so
# required for Allow in mod_jk.conf
LoadModule access_compat_module modules/mod_access_compat.so 
# required for AuthType in mod_jk.conf
LoadModule authn_core_module modules/mod_authn_core.so
# required for AuthUserFile in mod_jk.conf
LoadModule authn_file_module modules/mod_authn_file.so
# required for Require valid-user in mod_jk.conf
LoadModule authz_user_module modules/mod_authz_user.so
# required for AuthType Basic
LoadModule auth_basic_module modules/mod_auth_basic.so

TypesConfig /etc/mime.types

PidFile logs/httpd.pid

ServerName localhost
Listen *:{{ httpd_port }}

User apache
Group apache

DocumentRoot "{{ httpd_document_root }}"
DirectoryIndex index.html

ErrorLog logs/error_log

# Access log
LogFormat "%h %l %u %t \"%r\" %>s %b" common
CustomLog logs/access_log common

# Never change this block
<Directory />
  AllowOverride None
  Deny from all
</Directory>

# Allow documents to be served from the DocumentRoot
<Directory {{ httpd_document_root }}>
  Allow from all
</Directory>
