recaptcha.verificationurl = {{ tap_recaptcha.verificationurl }}
recaptcha.privatekey = {{ tap_recaptcha.privatekey }}
recaptcha.publickey = {{ tap_recaptcha.publickey }}

tap.baseurl = {{ tap_baseurl }}
tap.managers.email = {{ tap_managers_email }}
tap.email.noreply = {{ tap_email_noreply }}

tds.baseurl = {{ tap_tds_baseurl }}